:root{
    --color_texto: white;
    --color_tarjetas:#24385b;
    --color_figuras: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #121f3d;
    color: var(--color_texto);
}
a{
    text-decoration: none;
    color: var(--color_texto);
    cursor: pointer;
    margin: 0 2px;
}
a:hover{
    font-weight: bold;
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #03091e;
}
.nav_home{
    display: flex;
    align-items: center;
}
.home_circle{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 3px;

}
.home_triangulo{
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid white;
    margin: 1px auto;
    margin-bottom: 0;
}
.home_rectangulo{
    width: 18px;
    height: 4px;
    background-color: white;
    margin: 0 auto;
}
.home_cuadrados{
    display: flex;
    justify-content: center;
}
.home_cuadrado{
    width: 7px;
    height: 7px;
    background-color: white;
    margin: 0 2px;
}

.title_project{
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.calcular{
    width: 310px;
    height: 450px;    
    border-radius: 50px;
    margin:  30px auto ;
    background-color: var(--color_tarjetas);
    box-shadow: 2px 2px 3px 3px #03091e;
}
.calcular:hover{
    transform: scale(1.07);
    box-shadow: 2px 2px 2px 2px black;
}
.calcular figure{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_cuadrado{
    width: 100px;
    height: 100px;
    background-color: var(--color_figuras);
    margin-top: 10px;

}
.img_triangulo{
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 100px solid var(--color_figuras);
    margin-top: 10px;

}
.img_circulo{
    width: 100px;
    height: 100px;
    background-color: var(--color_figuras);
    border-radius: 50%;
    margin-top: 10px;
}
form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.result{
    width: 80%;
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_figuras);
    color: black;
    
}

figure h2{
    font-size: 36px;
}
label{
    font-size: 22px;
    margin: 10px;
}
.input{
    width: 80%;
    height: 35px;
    margin-bottom: 15px;
    background-color: var(--color_figuras);
}
.buttons{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
button{
    width: 48%;
    height: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 1px 2px 2px 0;
    background-color: var(--color_figuras);
}
button:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.inputs{
    width: 80%;
    height: auto;
    display: inline-block;
}
.inputs input{
    width: 45%;
    height: 25px;
    margin: 0 5px 10px 5px;
    background-color: var(--color_figuras);
}

footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .cuadrado{
    background-color: #FDF5CA;
}
.triangulo{
    background-color: #FDF5CA;
}
.circulo{
    background-color: #FDF5CA;
} */